.time-container{
    width: 411px;
    height: 80px;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;

}
.bookmark{
    width: 411px;
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}