.author-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.bookmark-icon a{
    cursor: pointer;
}
.card{
    width: 845px;
    height: 820px;
}
@media screen  and (max-width:576px){
    .card{
        width: 550px;
        height: 520px;
        margin-left: 10px;
    }
}